*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}
section{
    padding: 40px 0;
}
section.first{
    padding-top: 80px;
}
section.last{
    padding-bottom: 80px;
}
.section-container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
h1, h2, h3, h4, h5, h6{
    color: #121212;
}
h1{
    font-size: 50px;
    line-height: 60px;
}
h2{
    font-size: 32px;
    line-height: 45px;
}
p, span{
    font-size: 16px;
    line-height: 25px;
}
p{
    color: #707070;
}
img{
    width: 100%;
}
a{
    text-decoration: none;
    color: #FF5959;
}
input{
    border: 0;
}
.btn{
    display: inline-block;
    padding: 12px 24px;
    border-radius: 4px;
}
.btn.btn-base-color{
    background: #FF5959;
    color: #fff;
}

/* .column-elements {} */
.col-100{
    flex: 0 0 100%;
}
.col-50{
    flex: 0 0 50%;
}
.row{
    margin: 0 10px;
}
.inner-section{
    display: flex;
    flex-wrap: wrap;
}
.mt-40{
    margin-top: 40px;
}
.pt-45{
    padding-top: 45px;
}
/* -------------- Hero Section Style Start -------------- */
.hero-section{
    /* background: url(img/donation10.jpg) rgba(255, 0, 150, 0.3); */
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.46) 70%), url(img/donation10.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    text-align: center;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.hero-section .section-container{
    max-width: 750px;
}
.hero-section .section-container * {
    margin-bottom: 25px;
}
.hero-section h1{
    color: #fff;
}
.hero-section p {
    padding: 0 80px;
    color: #fff;
}
/* -------------- Hero Section Style End -------------- */


/* -------------- Section Heading Block Style Start -------------- */
.section-heading{
    text-align: center;
}
.section-heading-inner{
    max-width: 660px;
    margin: 0 auto;
}
.section-heading .section-heading-inner *{
    margin-bottom: 15px;
}

/* -------------- Section Heading Block Style End -------------- */


/* -------------- Donation Form Section Style Start -------------- */
.donation-form-section{
    text-align: center;
}
.donation-form form {
    max-width: 650px;
    margin: 0 auto;
  }



.donate-now {
    display: inline-block;
    list-style-type: none;
    margin: 25px 0 0 0;
    padding: 0;
}
  
.donate-now li {
    float: left;
    margin: 0 5px 0 0;
    width: 100px;
    height: 100px;
    position: relative;
}
  
.donate-now label,
.donate-now input {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
  
.donate-now input[type="radio"] {
    opacity: 0.01;
    z-index: 100;
}
  
.donate-now input[type="radio"]:checked+label,
.Checked+label {
    background: #FFEEEE;
    color: #FF5959;
    border: 2px solid #FF5959;
}
  
.donate-now label {
    padding: 40px 10px;
    text-align: center;
    background-color: #FAFAFA;
    cursor: pointer;
    z-index: 90;
    border-radius: 5px;
    color: #707070;
    font-weight: 600;
}
  
.donate-now label:hover {
    background: #DDD;
}

.donation-form form input[type="text"] {
    width: 100%;
    padding: 11px;
    border-bottom: 1px solid #ddd;
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
}
.donation-form form input[type="submit"]{
    border: 0;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}
/* -------------- Donation Form Section Style End -------------- */


/* -------------- Donation plan Section Style End -------------- */
.donation-plan {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 30px;
}
.donation-plan-box {
    margin: 0 10px;
    padding: 45px 25px;
    border-radius: 4px;
}
.donation-plan-box img{
    width: 60px;
}
.img-box-1{
    background: #edf5f6;
}
.img-box-2{
    background: #ffeeee;
}
.img-box-3{
    background: #fff4d6;
}
/* -------------- Donation plan Section Style End -------------- */



/* -------------- Newsletter Section Style Start -------------- */
.newsletter-box{
    margin-top: 30px;
    text-align: center;
}
.newsletter-box-inner {
    max-width: 700px;
    margin: 0 auto;
    padding: 60px;
    background: #fff4d6;
    border-radius: 5px;
}
.newsletter-box input[type="mail"]{
    width: 60%;
    padding: 12px;
    background: #d9d9d9;
    border: 0;
    border-radius: 5px 0 0 5px;
}
.newsletter-box input[type="submit"]{
    border-radius: 0 5px 5px 0;
}
/* -------------- Newsletter Section Style End -------------- */


/* -------------- Footer Style Start -------------- */
footer{
    background-color: #0b0d17;
    text-align: center;
    padding: 40px 10px;
}
footer h3{
    color: #FF5959;
    font-size: 25px;
}
/* -------------- Footer Style End -------------- */





.block-info {
    background: #FF5959;
    color: #fff;
    padding: 20px;
    border-radius: 7px;
    margin-bottom: 20px;
}
.block-info h3{
    color: #fff;
}
.block-info .small{
    font-size: 14px;
    color: #fff;
}
.block-info .amount {
    font-size: 25px;
    font-weight: 700;
    margin-top: 20px;
    color: #fff;
}
.block-info.style-2 {
    background: #fff;
    background: linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(255,238,238,1) 80%); 
    border: 2px solid #FF5959;
}
.block-info.style-2 h3{
    color: #121212;
}
.block-info.style-2 .small{
    color: #121212;
}
.block-info.style-2 .amount {
    color: #FF5959;
}


.donation-block-images img{
    border-radius: 7px;
    height: 300px;
    object-fit: cover;
    object-position: right;
    margin-bottom: 13px;
}

.donation-spend {
    margin-top: 30px;
}
.donation-spend img{
    width: 60px;
}